<% if can_edit?(@data_set) %>

  <div class="full_width_edit" style="font-size:2em;"><%= data_set_edit_helper 'title', can_edit?(@data_set), false %></div>
  <div><b>Project: </b><%= link_to @data_set.project.title, project_path(@data_set.project.id)%></div><br>
  <div class="row">
    <div class="span12">
      <div style="overflow-x: auto;" width="100%">
        <table width="100%" id="neutable" class="spreadsheet" data-project-id="<%= @project.id %>">
          <thead>
            <tr>
              <% @project.fields.each do |f| %>
                <th width="<%= 95 / @project.fields.count %>%" data-field-type="<%= get_field_name(f.field_type) %>" data-field-id="<%= f.id %>" data-field-restrictions="<%= f.restrictions %>" data-field-name="<%= f.name %>"><%= f.name %>
                <% if f.unit != "" and !f.unit.nil?%>
                  (<%=f.unit%>)
                <% end %></th>
              <% end %>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @data_set.data.each_with_index do |row, r_index| %>
              <tr height="2em" width="100%">
                <% @project.fields.each_with_index do |field| %>
                  <% if field.restrictions.nil? %>
                    <td>
                      <input height="100%" type="text" value='<% if !row["#{field.id}"].nil? %><%= row["#{field.id}"] %><% end %>'>
                    </td>
                  <% else %>
                        <% field.restrictions.each do |r| %>
                          <% if row[field.id.to_s] == r %>
                            <td><%= r %></td>
                          <% end %>
                        <% end %>
                      </select>
                    </td>
                  <% end %>
                <% end %>
                <td><div class="text-center"><a class="close" style="float:none;" onclick="$(this).closest('tr').remove()">&times;</a></div></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="edit_table_control pull-right">
      </div>
    </div>
  </div>

  <% link_to 'Show', @data_set %>
<%else%>
  You are not authorized to view this page.
<%end%>
